.btn{
    &:link,
    &:visited{
    	text-transform: uppercase;
    	text-decoration: none;
    	padding: 1.5rem 4rem;
    	display: inline-block;
    	border-radius: 10rem;
    	transition: all .2s;
    	position: relative;
    	font-size: $default-font-size;
    }

    &:hover{
    	transform: translateY(-.3rem);
    	box-shadow: 0 1rem 2rem rgba($color-black, 2seconds);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active{
    	transform: translateY(-.1rem);
    	box-shadow: 0 .5rem 1rem rgba($color-black, 2seconds);
    }

    &--white{
    	background-color: white;
    	color: $color-grey-dark;

        &::after{
            background-color: white;
        }
    }

	&--green{
    	background-color: $color-primary;
    	color: $color-black;

        &::after{
            background-color: white;
        }

		&:hover{
			transform: translateY(-.3rem);
			box-shadow: 0 1rem 1rem rgba($color-white, 2seconds);
	
			&::after{
				transform: scaleX(1.4) scaleY(1.6);
				opacity: 0;
			}
		}
    }

	&--greenb{
    	background-color: $color-primary;
    	color: $color-black;
		
		@include respond(phone){
			width: 100%;
			text-align: center;
		}

        &::after{
            background-color: white;
        }

		&:hover{			
			transform: translateY(-.3rem);
			box-shadow: 0 1rem 1rem rgba($color-black, 2s);
	
			&::after{
				transform: scaleX(1.4) scaleY(1.6);
				opacity: 0;
			}
		}
    }


    &::after{
    	content: "";
    	display: inline-block;
    	height: 100%;
    	width: 100%;
    	border-radius: 10rem;
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: -1;
    	transition: all .4s;
    }
    

    &--animated{
    	animation: moveInBottom .5s ease-out .75s;
    	animation-fill-mode: backwards;
    }
} 

.btn-text{
	padding: 5px;
	&:link,
	&:visited{
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 2px solid $color-primary;
		padding: 5px;
		transition: all .2s;
	}

	&:hover{
		background-color: $color-primary;
		color: $color-black;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active{
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transform: translateY(0);
	}
}
